.body_img{
    /*background-image: url("{{ asset('storage/image/prehome_bg.jpg') }}");*/
    background-image: url("/storage/image/prehome_bg.jpg");
      /* background-image: url("storage/image/prehome_bg.jpg");*/
      width: 100%;
      height: 100%;
    }

  /*core*/
  #core_prehome{
    min-height: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #text{
    margin-left: auto;
    margin-right: auto;
  }
  
  #click{
    text-align: center;
    font-size: 40px;
    font-style: bold ;
    color: rgb(57, 58, 58);
  }
  
  #below_click{
    text-align: center;
    font-size: 30px;
    font-style: bold ;
    color: rgb(57, 58, 58);
  }
  
  #input{
    text-align: center; 
    cursor: pointer; 
  }
  
  #valid{
    border-color: #B9863A;
    background-color: #B9863A;
  }